*.log

*/target

*/classes
*/lib


*.prefs


*.class
bin


*.component

org.eclipse.wst.common.project.facet.core.xml
*.jsdtscope

org.eclipse.wst.jsdt.ui.superType.container

org.eclipse.wst.jsdt.ui.superType.name
*.launch


target
.idea

.metadata/
Test2/
*.log/vstore-parent/

*.project
.classpath
*.classpath
*.MF
*.DS_Store

*.jar
